<div class="col-md-12 text-center">
  <h1>Meet Ruby Halper-Erkkila, MD:<h1>
</div>

<div class="col-md-6">
  <h2>About Dr. Ruby:</h2>
  <ul>
    <li>Board Certified: Family Practice</li>

    <li>Specialty: Family Medicine</li>

    <li>Medical School: <%= link_to "Temple University School of Medicine", "http://www.temple.edu/medicine/" %></li>

    <li>Residency/Fellowship: <%= link_to "RWJ University Hospital", "http://www.rwjuh.edu/rwjuh/home.aspx" %></li>

    <li>Hospital Affiliation: <%= link_to "RWJ University Hospital", "http://www.rwjuh.edu/rwjuh/home.aspx" %></li>
  
    <li>Phone Number: <%= link_to "(908) 526-8300", page_path("contact") %></li>

    <li>Practicing Medicine since: 1988</li>
  </ul>
</div>

<div class="col-md-6">
  <%= image_tag "DrRuby_no_bg_144x180px.png", width: 144, height: 180, class: "doctor_ruby" %>
</div>
<div class="col-md-"12>
  <div class="bio">
    <p>Dr. Ruby grew up on a family dairy farm in Piscataway NJ with five brothers and sisters and eight cousins. She graduated Ohio State University with a degree in Agriculture to become a veterinarian, but decided to experiment in different fields after college. Dr. Ruby then attended law school out west because of her interest in the environment.  After deciding law school was not for her, she joined the Peace Corps and worked on a UNESCO project in Nepal.  She later came back and lived and worked in Vermont and then Virginia.  She worked as an instructor for an Outward Bound type organization called Discovery. </p>

    <p>She finally decided in 1979 to get back to her passion: the medical field, but with people instead of animals.  After finishing the premed requirements at Rutgers, she applied to and was accepted at Temple Medical School in Philadelphia. It was the correct choice; though she was at a distinct disadvantage because of the time away from the classroom. She excelled in her studies and won several departmental awards, i.e., biochemistry and pathology and was inducted into AOA, the medical honor society.</p>

    <p>Dr. Ruby was always sure she would choose Family Practice as a career though her colleagues struggled with their career path decisions. She was accepted at Somerset Medical Center which is now Robert Wood Johnson University Hospital for their Family Practice Residency program and then did a short stint of working for a practice once finished with residency, but her needs were not met.  She wanted a family and control over her time and business.  Dr. Ruby set up her own practice in parallel with Dr. Juliano and the rest is history.</p>

    <p>She has since had four sons and never missed attending a single one of their activities.</p>
  </div>
</div>