<div class="col-sm-12">
  <span class="anchor" id="resources"></span>
  <div class="page-header text-center">
    <h1><%= link_to "Patient Resources", page_path("resources") %></h1>
  </div>

</div>

<div class="col-md-4 col-sm-6 col-xs-12 resource" >
  <div class="">
    <%= link_to image_url("PatientEducation/Asthma Action Plan.pdf"), class: "thumbnail center", target: "_blank" do %>
      <%= image_tag "PatientEducation/Asthma Action Plan.pdf", height: 200, width: 200 %>
  
      <div class="service-description text-center">
        Asthma Action Plan
      </div>
  
      <h2 class="text-center">Asthma Action Plan</h2>
    <% end %>

  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12 resource" >
  <div class="">
    <%= link_to image_url("PatientEducation/Asthma Medicine.pdf"), class: "thumbnail center", target: "_blank" do %>
      <%= image_tag "PatientEducation/Asthma Medicine.pdf", height: 200, width: 200 %>
  
      <div class="service-description text-center">
        Asthma Medicine
      </div>
  
      <h2 class="text-center">Asthma Medicine</h2>
    <% end %>

  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12 resource" >
  <div class="">
    <%= link_to image_url("PatientEducation/Asthma Triggers.pdf"), class: "thumbnail center", target: "_blank" do %>
      <%= image_tag "PatientEducation/Asthma Triggers.pdf", height: 200, width: 200 %>
  
      <div class="service-description text-center">
        Asthma Triggers
      </div>
  
      <h2 class="text-center">Asthma Triggers</h2>
    <% end %>

  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12 resource" >
  <div class="">
    <%= link_to image_url("PatientEducation/PCMedical Home.pdf"), class: "thumbnail center", target: "_blank" do %>
      <%= image_tag "PatientEducation/PCMedical Home.pdf", height: 200, width: 200 %>
  
      <div class="service-description text-center">
        Patient Centered Medical Home
      </div>
  
      <h2 class="text-center">Patient Centered Medical Home</h2>
    <% end %>

  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12 resource" >
  <div class="">
    <%= link_to image_url("PatientEducation/Spacer Instructions.pdf"), class: "thumbnail center", target: "_blank" do %>
      <%= image_tag "PatientEducation/Spacer Instructions.pdf", height: 200, width: 200 %>
  
      <div class="service-description text-center">
        Spacer Instructions
      </div>
  
      <h2 class="text-center">Spacer Instructions</h2>
    <% end %>

  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12 resource" >
  <div class="">
    <%= link_to image_url("PatientEducation/Take the Asthma Control Test™ – Asthma children.pdf"), class: "thumbnail center", target: "_blank" do %>
      <%= image_tag "PatientEducation/Take the Asthma Control Test™ – Asthma children.pdf", height: 200, width: 200 %>
  
      <div class="service-description text-center">
        Take the Asthma Control Test™: Children
      </div>
  
      <h2 class="text-center">Take the Asthma Control Test™: Children</h2>
    <% end %>

  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12 resource" >
  <div class="">
    <%= link_to image_url("PatientEducation/Take the Asthma Control Test™ – Asthma.pdf"), class: "thumbnail center", target: "_blank" do %>
      <%= image_tag "PatientEducation/Take the Asthma Control Test™ – Asthma.pdf", height: 200, width: 200 %>
  
      <div class="service-description text-center">
        Take the Asthma Control Test™: Adults
      </div>
  
      <h2 class="text-center">Take the Asthma Control Test™: Adults</h2>
    <% end %>

  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12 resource" >
  <div class="">
    <%= link_to image_url("PatientEducation/Thirsty Flyer.docx"), class: "thumbnail center", target: "_blank" do %>
      <%= image_tag "PatientEducation/Thirsty Flyer.docx", height: 200, width: 200 %>
  
      <div class="service-description text-center">
        Dehydration Info
      </div>
  
      <h2 class="text-center">Dehydration Info Flyer</h2>
    <% end %>

  </div>
</div>