<div class="col-sm-12">
  <h1>Services</h1>
</div>

<div class="col-sm-4">
  <div class="service">
    <%= render "pages/sick_care" %>
  </div>
</div>

<div class="col-sm-4">
   <div class="service">
     <%= render "pages/sick_care" %>
   </div>
</div>

<div class="col-sm-4">
   <div class="service">
     <%= render "pages/sick_care" %>
   </div>
</div>

<div class="col-sm-4">
  <div class="service">
    <%= render "pages/sick_care" %>
  </div>
</div>

<div class="col-sm-4">
  <div class="service">
    <%= render "pages/sick_care" %>
  </div>
</div>

<div class="col-sm-4">
  <div class="service">
    <%= render "pages/sick_care" %>
  </div>
</div>