<div class="col-sm-12">
  <div class="page-header text-center">
    <h1><%= link_to "Services", page_path("services") %></h1>
  </div>

</div>

<div class="col-md-4 col-sm-6 col-xs-12" >
  <%= render "pages/sick_care" %>
</div>

<div class="col-md-4 col-sm-6 col-xs-12"> 
 <%= render "pages/preventive_medicine" %>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
   <%= render "pages/surgery" %>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <%= render "pages/blood_draw" %>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <%= render "pages/physicals" %>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <%= render "pages/vaccinations" %>
</div>