<%= content_for :page_title, 'SBFP Home' %>

<div class="row row-padding text-center">
  <div class="col-md-12 welcome">
      <h1>Welcome to South Branch Family Practice</h1>
      <p class="">Julie Ann Juliano, MD | Ruby Halper-Erkkila, MD</p>
      
      <p><%= link_to "Access Patient Portal", "https://ipatient.branchburgdoctors.com/patientportal/loginnew.aspx", class: "btn btn-primary btn-lg" %></p>
      
  </div>

</div>

<div class="row row-padding services tint background-image">
  <%= render "pages/services" %>
</div>

<div class="row row-padding downloads tint">
  <div class="col-md-12">
    <%= render "downloads/index", downloads: @downloads %>
  </div>
</div>


<div class="row row-padding patient-portal background-image">
  <%= render "pages/patient_portal" %>
</div>



<%= render "pages/doctors" %>


<div class="row row-padding observances tint background-image">
  <div class="background-blur"></div>
  <%= render "observances/current_month", observances: @observances %>
</div>






