<%= content_for :page_title, 'SBFP Home' %>

<div class="row row-padding text-center">
  <div class="col-md-12 welcome">
    <div class="alert alert-danger">
      <a class="close" data-dismiss="alert">×</a>
      We are opened and here to take care of you. Please call first. Telemedicine appointments are available.
    </div>
      <h1>Welcome to South Branch Family Practice</h1>
      <p class="">Julie Ann Juliano, MD | Ruby Halper-Erkkila, MD</p>
      
      <p><%= link_to "Access Patient Portal", ENV["PATIENT_PORTAL_URL"], class: "btn btn-primary btn-lg", target: "_blank" %></p>
      
  </div>
</div>

<div class="row row-padding text-center announcement background-image tint">
  <%= render partial: "announcements/index", locals: {announcements: @announcements} %>
</div>




<div class="row row-padding services tint background-image">
  <%= render "pages/services" %>
</div>

<div class="row row-padding downloads tint">
  <div class="col-md-12">
    <%= render partial: "pages/resources", locals: {downloads: @downloads} %>
  </div>
</div>


<div class="row row-padding patient-portal background-image">
  <%= render "pages/patient_portal" %>
</div>



<%= render "pages/doctors" %>


<div class="row row-padding observances tint background-image">
  <div class="background-blur"></div>
  <%= render partial: "observances/current_month", locals: {observances: @observances} %>
</div>