<%= content_for :page_title, 'SBFP Home' %>

<div class="row">
  <%= render "pages/maintenance" %>
</div>


<div class="row">
  <%= render "observances/current_month", observances: @observances %>
</div>

<div class="row downloads">
  <h1>New Patients Welcome:</h1>
  <%= render "downloads/index", downloads: @downloads %>
</div>



<div class="row">
  <%= render "pages/patient_portal" %>
</div>


