<%= content_for :page_title, 'SBFP Home' %>

<div class="row row-padding text-center">
  <div class="col-md-12 welcome">
    <div class="alert alert-danger">
      <a class="close" data-dismiss="alert">×</a>
      <h1>We are open and here to take care of you.</h1>
        <p>Please call first. Telemedicine appointments are available.</p>
    </div>
    <div class="alert alert-success">
        <h2>COVID - 19 CLEANING UPGRADES</h2>


      <h3>While we have always maintained a clean office environment, we have
      made upgrades due to the serious nature of the COVID-19 crisis in order to protect all staff and patients like family while still providing your regularly needed care:</h3>

      <ul>
      <li>● THERE IS NO WAITING ROOM - everyone will be asked to call from their car to check in and
      wait to be escorted in by a staff member.</li>

      <li>● Everyone will be evaluated and have their temperature taken outside BEFORE coming into the
      building.</li>

      <li>● Everyone entering the building will be required to wear a MASK and use HAND SANITIZER. <li>● You will be ESCORTED into an open exam room by a staff member.</li>

      <li>● We have always used and will continue to use CDC approved cleaning agents, but will add 15
      minutes of ULTRAVIOLET LIGHT between patients to thoroughly kill any virus particles.</li>

      <li>● All blood work and procedures will be done in the exam room to minimize patients walking
      around the hallways.</li>

      <li>● The bathroom will be cleaned after each use - there will be no specimens collected in the office
      and bathrooms will be used only for emergencies.</li>

      <li>● There will be one way in and one way out, ensuring less contact with people and surfaces in the
      office.</li>

      We will assume everyone is positive for COVID and treat them that way. This will ensure that no
      one gets infected and spreads the virus within the building. Thank you for your cooperation as we move forward in this new environment.
      </ul>
    </div>
      <h1>Welcome to South Branch Family Practice</h1>
      <p class="">Julie Ann Juliano, MD | Ruby Halper-Erkkila, MD</p>
      
      <p><%= link_to "Access Patient Portal", ENV["PATIENT_PORTAL_URL"], class: "btn btn-primary btn-lg", target: "_blank" %></p>
      
  </div>
</div>

<div class="row row-padding text-center announcement background-image tint">
  <%= render partial: "announcements/index", locals: {announcements: @announcements} %>
</div>




<div class="row row-padding services tint background-image">
  <%= render "pages/services" %>
</div>

<div class="row row-padding downloads tint">
  <div class="col-md-12">
    <%= render partial: "pages/resources", locals: {downloads: @downloads} %>
  </div>
</div>


<div class="row row-padding patient-portal background-image">
  <%= render "pages/patient_portal" %>
</div>



<%= render "pages/doctors" %>


<div class="row row-padding observances tint background-image">
  <div class="background-blur"></div>
  <%= render partial: "observances/current_month", locals: {observances: @observances} %>
</div>