<header class="header navbar-static-top">
  <nav id="logo-nav" class="logo navbar navbar-default">
    <div class="container">
      <figure id="logo" class="logo">
        <a href="<%= root_url %>">
          <img class="site-logo" src="<%= image_url("sbfp_logo_no_url_300x235.png") %>" alt="South Branch Family Practice">
        </a>
        <figcaption id="site-slogan">Family Care Practicioners</figcaption>
      </figure>
    </div>
  </nav>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid nav-container">

      <div class="navbar-header">
        <a class="navbar-brand navbar-brand-small" href="<%= root_url %>"><%= image_tag("sbfp_logo_no_url_90x74.png", alt: "South Branch Family Practice") %></a>
        <button type="button" class="navbar-toggle toggle-x collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" id="middle-bar"></span>
        </button>
      </div>

      
      <div class="main-nav collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <a class="navbar-brand navbar-brand-big" href="<%= root_url %>"><%= image_tag("sbfp_logo_no_url_90x74.png", alt: "South Branch Family Practice") %></a>
          <li><a href="<%= root_path %>"><i class="fa fa-lg fa-home fa-fw"></i>&nbsp; Home</a></li>  
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= %>"><a href="<%= root_path(anchor: "patient-portal") %>">Patient Portal <span class="sr-only">(current)</span></a></li>
          <li><%= link_to "Patient Resources", root_url(anchor: "resources") %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Physicians <span class="caret"></span></a>
            <ul class="pull-right dropdown-menu inverse-dropdown" role="menu">
              <li><%= link_to "Dr. Juliano", page_path("doctors", anchor: "dr_julie"), class: "anchored", data: {anchor: "#dr_julie"} %></li>
              <li><%= link_to "Dr. Halper-Erkkila", page_path("doctors", anchor: "dr_ruby"), class: "anchored", data: {anchor: "#dr_ruby"} %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="<%= root_path(anchor: "services") %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="caret"></span></a>
            <ul class="pull-right dropdown-menu inverse-dropdown" role="menu">
              <li><%= link_to "Preventive Medicine", page_path("preventive_medicine") %></li>
              <li><%= link_to "Surgery", page_path("surgery") %></li>
              <li><%= link_to "Blood Draw", page_path("blood_draw") %></li>
              <li><%= link_to "Vaccinations", page_path("vaccinations") %></li>
              <li><%= link_to "Physicals", page_path("physicals") %></li>
              <li><%= link_to "Sick Care", page_path("sick_care") %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Insurance <span class="caret"></span></a>
            <ul class="pull-right dropdown-menu inverse-dropdown" role="menu">
              <li><%= link_to "Medicare", page_path("medicare") %></li>
              <li><%= link_to "Billing", page_path("billing") %></li>
              <li><%= link_to "Referrals", page_path("referrals") %></li>
            </ul>
          </li>
          <li><%= link_to "Contact", page_path("contact") %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Admin <span class="caret"></span>
            </a>
            <ul class="pull-right dropdown-menu inverse-dropdown" role="menu">
              <% if signed_in? %>
                <li><%= button_to "Sign Out", session_url, method: :delete, class: "btn btn-link" %></li>
              <% else %>
                <li><%= link_to "Sign In", new_session_url %></li>
              <% end %>
              
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>
<% flash.each do |name, msgArr| %>
  <% if (msgArr.class == Array) %>
    <% msgArr.each do |msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
  <% else %>
  <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msgArr %>
  </div>
  <% end %>
<% end %>
</header>
